body {
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'PT Sans Narrow', sans-serif;

}
h1, h3 {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, .img, footer {
    text-align: center;
}
.content {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 20px; 
}
.content:hover img {
    width: 400px; 
}
img {
    width: 300px; 
    transition: width 0.5s ease;
}
hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}
footer {
    font-family: 'Pacifico', cursive;
}
